# Exclude Emacs intermediate files
*~

# Exclude iPython/Jupyter intermediate files
.ipynb_checkpoints/

# Exclude virtualenvs
venv-*

# Exclude course output directories and files
output/
02-sequence_databases/data/kitasatospora/*.nhr
02-sequence_databases/data/kitasatospora/*.nin
02-sequence_databases/data/kitasatospora/*.nsq

# Exclude OSX-specific files
.DS_Store

# Exclude VMs
*.7z
*.vmd
*.vmi

# Exclude development-related files
IMG_2032.JPG
IMG_2033.JPG