# Exclude Emacs intermediate files
*~

# Exclude iPython/Jupyter intermediate files
.ipynb_checkpoints/

# Exclude virtualenvs
venv-*

# Exclude course output directories and files
01-sequences/B4EVM3.fasta
01-sequences/C2LFD0.fasta
01-sequences/NZ_GG668576.gbk
01-sequences/NC_010554.gbk
output/
02-sequence_databases/data/kitasatospora/*.nhr
02-sequence_databases/data/kitasatospora/*.nin
02-sequence_databases/data/kitasatospora/*.nsq

# Exclude OSX-specific files
.DS_Store

# Exclude VMs
*.7z
*.vmd
*.vmi

# Exclude development-related files
IMG_2032.JPG
IMG_2033.JPG