numpy
scipy
appdirs==1.4.0
appnope==0.1.0
beautifulsoup4==4.5.3
biopython==1.68
bioservices==1.4.16
bleach==1.5.0
colorama==0.3.7
cycler==0.10.0
decorator==4.0.11
easydev==0.9.33
entrypoints==0.2.2
gevent==1.2.1
greenlet==0.4.12
grequests==0.3.0
html5lib==0.9999999
ipykernel==4.5.2
ipython==5.2.2
ipython-genutils==0.1.0
ipywidgets==5.2.2
Jinja2==2.9.5
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.1.0
jupyter-core==4.2.1
MarkupSafe==0.23
matplotlib==2.0.0
mistune==0.7.3
nbconvert==5.1.1
nbformat==4.2.0
notebook==4.3.2
packaging==16.8
pandas==0.19.2
pandocfilters==1.4.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
pyzmq==16.0.2
qtconsole==4.2.1
requests==2.13.0
requests-cache==0.4.13
seaborn==0.7.1
simplegeneric==0.8.1
six==1.10.0
suds-jurko==0.6
terminado==0.6
testpath==0.3
tornado==4.4.2
traitlets==4.3.1
wcwidth==0.1.7
widgetsnbextension==1.2.6
wrapt==1.10.8
xmltodict==0.10.2
